.menuHeader {
    background: #fff;
}

.menuHeader ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menuHeader > ul {
    display: flex;
    margin: 0 50px;
    position: relative;
}

.menuHeader > ul > li > span {
    display: block;
    line-height: 40px;
    cursor: pointer;
    padding: 0 20px;
    font-size: 14px;
}

.menuHeader > ul > li > span:hover {
    color: #e952cb;
}

.menuHeader > ul > li > ul {
    position: absolute;
    left: 0;
    right: 0;
}


.menuHeader > ul > li > ul > li {
    margin: 0 20px;
    min-width: 150px;
}

.menuHeader > ul > li > ul > li {
    float: left;
}

.menuHeader > ul > li > ul > li > a {
    font-weight: bold;
    display: block;
}

.menuHeader > ul > li > ul > li a {
    padding: 3px 0;
    display: block;
    font-size: 12px;
    text-decoration: none;
    color: #707070;
}

.menuHeader {
    /* position: absolute; */
    width: 500px;
    display:none;
    /* top: 0; */
    /* left: 0; */
}

.header__dropdown:hover > .menuHeader {
    display: block;
}