.errorcontainer {
    border: 3px dashed salmon;
    text-align: center;
    padding: 30px;
    border-radius: 30px;
    margin: 30px 0px;
    transition: all 0.3s;
}

.errorcontainer:hover {
    transform: scale(1.05, 1.05);
}

.error__icon {
    width: 250px;
}

.error__title {
    font-size: 25px;
    color: salmon;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}