* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto';
}

ul > li {
    text-decoration: none;
    list-style-type: none;
}

.link {
    text-decoration: none;
    color: #FFAFAF;
}

.link:hover, .header__subtitle:hover {
    text-decoration: none;
    color: #FFAFAF;
}

.header__nav {
    display: flex;
    justify-content: space-between;
}

.header__left, .header__right {
    display: flex;
    align-items: center;
}

.header__left > li {
    margin-right: 3vw;
    transition: 0.1s ease-in-out;
}

.header__left > li:hover {
    padding-bottom: 5px;
    border-bottom: 2px solid #FFAFAF;
}

.header__right {
    margin-right: 2%;
}

.header__left {
    margin-left: 2%;
}

.header__logo {
    padding-right: 10px;
    margin-right: 10px;
    margin-top: 5px;
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.header__icon {
    height: 25px;
    width: 25px;
    object-fit: contain;
}

.search {
    height: 25px;
    width: 25px;
}

.header__search {
    display: flex;
    margin-right: 10px;
    padding: 5px;
    border-radius: 50px;
    border: 1px solid #FFAFAF;
    transition: all ease-in-out 0.3s;
}

.header__search:hover {
    border: 1px #FFAFAF dashed;
    padding: 10px;
}

input {
    outline: none;
    border: none;
    margin-left: 5px;
}

.header__account {
    margin-left: 15px;
}

.header__submenu {
    z-index: 1000;
    position: absolute;
    display: flex;
    width: 100%;
    left: 0;
    padding-bottom: 10px;
    transition: all 0.2s ease-in-out;
}

.dropdowncontent {
    display:none;
}

.header__dropdown:hover > .dropdowncontent {
    display: block;
}

/* .header__dropdown:hover > .header__submenu {
    display: block;
    z-index: 10;
} */
.header__column {
    background-color: white;
    display: flex;
    width: 25%;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
    border-top: 1px solid rgb(255, 189, 165);
    border-bottom: 3px  #ff8888 solid;
}

.header__columnImage {
    width: 100%;
    object-fit: contain;
    padding: 10px 20px;
}

.header__subtitle {
    text-decoration: none;
    color: #ff8888;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

.header__subcolumn {
    margin-top: 30px;
    display: flex;
    line-height: 25px;
    flex-direction: column;
}


.header__subcolumn .link:hover {
    background-color: #ff8888;
    color: white;
}

.header__subcolumn .link {
    padding-left: 20px;
}

.header__log {
    padding-top: 10px;
    display: flex;
    position: absolute;
    flex-direction: column;
    z-index: 1000;
    right: 0;
    margin-right: 20px;
    border-bottom: 3px #ff8888 solid;
    padding-bottom: 10px;
}

.header__log .link button {
    margin: 10px 10px 0px 10px;
    padding: 5px 40px;
    border-radius: 20px;
    background-color: #ffbda5;
}

.header__log button > .link {
    color: white;
    font-weight: 700;
}

button {
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
}

.btn-hover {
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 10px;
    background-size: 300% 100%;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.btn-hover:focus {
    outline: none;
}

.color-4 {
    background-image: linear-gradient(to right, #fbc2eb 0%, #a6c1ee 51%, #fbc2eb 100%);
}

.header__signpane {
    display: none;
}

.header__account:hover .header__signpane {
    display: block;
}