.register__title {
    text-align: center;
    color: #F69996;
    font-weight: bold;
    font-size: larger;
    font-family: 'Roboto';
    padding-top: 2%;
}

.register__topper {
    text-align: center;
    border-radius: 50px 50px 0px 0px;
    background-color: #FFC8C8;
}

.register__logo {
    width: 100px;
}

.register__name {
    text-align: center;
    color: #F69996;
    font-weight: bold;
    padding: 10px 0px;
    margin-bottom: 0px;
    font-size: large;
    
}

.register__container {
    border-radius: 50px;
    margin: 0px 5vw;
    box-shadow: 1px 2px 10px 2px #ededed;
    padding-bottom: 50px;
    margin-bottom: 3%;
    transition:all 0.3s ease;
}

.register__container:hover {
    box-shadow:
        1px 1px #df9898,
        2px 2px #df9898,
        3px 3px #df9898;
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}
.register__button {
    width: 250px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin-top: 30px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.register__button:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.color-10 {
    background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #ff80ae , #ffd592);
}

.register__buttoncontain {
    text-align: center;
}
