.card {
    width: calc(100% -20px);
    margin: 10px 10px;
    border: 1px solid #cecece;
    box-shadow: 0 0 2px -2px gray;
}

.card__header {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    border-bottom: 1px solid #cecece;
    font-weight: bold;
}

.product {
    margin: 5px 0;
}

.product__container {
    width: 200px;
    margin: 0 10px;
}

.product__container .product__img {
    width: 150px;
    height: 150px;
    overflow: hidden;
    text-align: center;
    margin: 10px auto;
}

.product__container .product__img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.product__info {
    text-align: center;
    font-size: 12px;
}

.product__price {
    font-size: 14px;
    font-weight: bold;
}