.product {
    margin: 5px 0;
}

.product__container {
    width: 200px;
    margin: 0 10px;
}

.product__container .product__img {
    width: 150px;
    height: 150px;
    overflow: hidden;
    text-align: center;
    margin: 10px auto;
}

.product__container .product__img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.product__info {
    text-align: center;
    font-size: 12px;
}

.product__price {
    font-size: 14px;
    font-weight: bold;
}

.caContainer{
    width: 250px;
    margin-right: 10px;
}
.caImgContainer{
    width: 240px;
    height: 300px;
    overflow: hidden;
    position: relative;
}
.caImgContainer > img{
    max-width: 100%;
    max-height: 300px;
}
.caProductName{
    font-size: 12px;
    padding: 10px 0;
}
.caProductPrice{
    font-size: 12px;
    font-weight: 600;
}